{
  "extends": "eslint-config-airbnb",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "globals": {
    "jest": true,
    "jasmine": true,
    "require": true,
    "it": true,
    "describe": true,
    "expect": true,
    "afterEach": true,
    "beforeEach": true,
    "ga": true,
    "Raven": true,
    "FB": true,
    "branch": true
  },
  "rules": {
    "func-names": "off",
    "no-param-reassign": "off",
    "arrow-body-style": "off",
    "max-len": "off",
    "new-cap": "off",
    "global-require": "off",
    "no-underscore-dangle": "off"
  }
}
